.tabs {
    margin-top: 17px;
    width: 100%;
}

.redBorder .ant-tabs-ink-bar {
    background-color: #e94747;

}

.greenBorder .ant-tabs-ink-bar {
    background-color: #24ad52;
}

.blueGreyBorder .ant-tabs-ink-bar {
    background-color: #5b708b;

}

.ant-tabs-tab-active {
    border-bottom: 1px solid #2779FE !important;
}

.noMargin {
    margin: 0 !important;
}

.loadMore {
    float: right;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
}

.loadMore:hover {
    color: #1890ff;
    text-decoration: underline;
}